<mat-card>
  <mat-card-content class="weather-card-panel">
    <mat-card-title class="city-name">
      {{weatherForecast ? weatherForecast.cityName : 'City name'}}
    </mat-card-title>
    <mat-card-subtitle class="current-date">
      {{ currentDateTime }}
    </mat-card-subtitle>
    <div class="forecast-container">
      <img src="" alt="">
      <div class="temperature-container">

      </div>
    </div>
  </mat-card-content>
  <div class="weather-card-panel details-info">

  </div>
</mat-card>
