<mat-divider></mat-divider>

<div>
  <input type="text" [(ngModel)]="forecast">
  <button mat-raised-button color="primary" (click)="addForecast()">Add city</button>
</div>
<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="weather-cards-container">
  <div *ngFor="let forecast of allForecasts$ | async">
    <app-forecast (removeForecastEvent)="removeForecast($event)" [weatherForecast]="forecast"></app-forecast>
  </div>
</div>
<br>

<mat-divider></mat-divider>
